# IDE files / BSP / LSP caches
.idea
.bsp
.vscode
.metals
.bloop
.scala-build

# sbt
target
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt

# JS
dist
node_modules
.vite
package-lock.json

# Claude Code / Kiro
.kiro