<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.pekko" level="DEBUG" />
    <logger name="slick" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>